/* カーライフソリューションページのキービジュアル画像 */
.kv {
  background-image: url("../images/service/kv_carlife.jpg");
}

/* お近くのサービスステーション */
.search {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: calc(100% * (80 / 1080));
}

.search__item {
  background-color: #fff;
  border: 1px solid #808080;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  padding: 2.4em;
  display: flex;
  flex-direction: column;
}

.search__title {
  font-size: clamp(16px, 2vw, 20px);
  font-weight: 700;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
}

.search__title::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 4px;
}

.search__title--area::before {
  background-image: url("../images/service/icon_01.png");
}

.search__title--word::before {
  background-image: url("../images/service/icon_02.png");
}

.search__list {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.search__list-item {
  width: min(70%, 250px);
  margin: 0 auto;
  color: #fff;
  background-color: #076fb3;
  padding: 5px 0;
  border-radius: 50px;
  font-size: clamp(16px, 2vw, 24px);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search__box {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 2em;
}

.search__box-form--input {
  margin: 0 auto;
  width: 100%;
  padding: 1em;
  font-size: 16px;
  border: 1px solid #076fb3;
  border-radius: 5px;
}

.search__item-button {
  background-color: #076fb3;
  color: #fff;
  width: fit-content;
  padding: 5px 3em;
  text-align: center;
  font-size: clamp(16px, 2vw, 24px);
  border: none;
  cursor: pointer;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

/* サントーコー取り扱い商品 */
.service-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.service-grid__item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #076fb3;
  color: #fff;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

.service-grid__img {
  position: relative;
  width: 100%;
  height: 100%;
}

.service-grid__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.service-grid__img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(7, 111, 179, 0.3);
}

.service-grid__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  padding: 0.75em;
}

.service-grid__title {
  font-size: clamp(16px, 2vw, 20px);
  font-weight: 700;
}

.service-grid__group {
  display: flex;
  flex-direction: column;
}

.service-grid__detail {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  align-self: flex-end;
}

.service-grid__tag {
  display: flex;
  align-items: center;
}
.service-grid__tag::before {
  content: "";
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  background-color: #fff;
  margin-right: 5px;
}

.service-grid__link {
  display: block;
  font-size: 16px;
  color: #fff;
  position: relative;
  padding-right: 1em;
}

.service-grid__link::before,
.service-grid__link::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 0.5em;
  height: 2px;
  border-radius: 9999px;
  background-color: #fff;
  transform-origin: calc(100% - 1px) 50%;
  transition: right 0.25s ease;
}

.service-grid__link::before {
  transform: rotate(45deg);
}

.service-grid__link::after {
  transform: rotate(-45deg);
}

.service-grid__link:hover::before,
.service-grid__link:hover::after {
  right: -5px;
}

@media screen and (max-width: 768px) {
  .kv {
    background-position: 70% center;
  }
  .search {
    gap: 30px;
    grid-template-columns: 1fr;
  }

  .search__box-form--input {
    padding: 10px;
  }

  .search__item-button {
    margin-top: 2em;
  }

  .service-grid {
    grid-template-columns: 1fr;
  }

  .service-grid__item {
    grid-template-columns: 1fr;
  }

  .service-grid__text {
    height: auto;
    row-gap: 20px;
  }
}

@media screen and (max-width: 480px) {
  .service-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
