/* キービジュアル */
.kv {
  background-image: url("../images/service/kv_consulting.jpg");
  background-position: center 24%;
}

/* 主な取り扱い商品 */
.consulting-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.consulting-card__item {
  background-color: #fff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  padding: 1.6em 2em;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1em;
  align-items: center;
}

.consulting-card__img {
  width: 80px;
  height: 80px;
}

.consulting-card__img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.consulting-card__text {
  font-size: clamp(18px, 2vw, 24px);
  font-weight: 500;
}

/* お問い合わせ窓口 */
.contact-area__col {
  row-gap: 4em;
  margin-bottom: 80px;
}
.contact-policy {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: calc(100% * (80 / 1080));
}
.contact-policy__link {
  display: block;
  text-align: center;
  padding: 0.5em;
  color: #fff;
  font-weight: 500;
  font-size: clamp(18px, 2vw, 24px);
  background-color: #076fb3;
}
.corp-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.corp-card__item {
}

/* 768px以下 */
@media screen and (max-width: 768px) {
  /* 主な取り扱い商品 */
  .consulting-card__img {
    width: 40px;
    height: 40px;
  }

  .consulting-card {
    gap: 1em;
  }

  .consulting-card__item {
    padding: 1.2em 0.75em;
    grid-template-columns: 1fr 5fr;
    gap: 0.5em;
  }
  /* お問い合わせ窓口 */
  .contact-area__col {
    row-gap: 2em;
  }
  /* 取り扱い保険会社 */
  .corp-card {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

/* 480px以下 */
@media screen and (max-width: 480px) {
  /* 主な取り扱い商品 */
  .consulting-card {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  /* お問い合わせ窓口 */
  .contact-policy {
    grid-template-columns: 1fr;
  }
}
