.kv__subpage {
  background-image: url("../images/subpage/kv_news-topics.png");
}

/* 投稿記事下のナビ */
.news-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news-nav__prev,
.news-nav__next {
  width: 30%;
  display: flex;
  align-items: center;
}

.news-nav__text {
  color: #808080;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
}

.news-nav__text:hover {
  color: #076fb3;
}

.news-nav__prev::before,
.news-nav__next::after {
  margin-right: 10px;
  flex-shrink: 0;
  color: #808080;
}

.news-nav__prev::before {
  content: "<<";
}

.news-nav__next::after {
  content: ">>";
}

/* 768px以下 */
@media screen and (max-width: 768px) {
  .news-nav__prev,
  .news-nav__next {
    width: 40%;
  }
}
