body {
  font-family: "Noto Sans JP", "Yu Gothic", "YuGothic", "ヒラギノ角ゴ ProN",
    "Hiragino Kaku Gothic ProN", sans-serif;

  color: var(--color-black);
  line-height: 1.6;
  font-size: 16px;
}

main,
body {
  background-color: var(--color-white);
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}

p {
  text-align: justify;
}

a {
  text-decoration: none;
  color: #1a1a1a;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

body {
  overflow-x: hidden;
}

.pc {
  display: block;
}
@media screen and (max-width: 480px) {
  .pc {
    display: none;
  }
}
