.kv {
  background-image: url("../images/service/kv_livinglife.jpg");
}

/* 業務内容 */
.product-gas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  margin-top: calc(100% * (100 / 1080));
}
.product-gas__item {
  padding: 1em 0;
  background-color: #076fb3;
  color: #fff;
  font-size: clamp(16px, 2vw, 24px);
  font-weight: 500;
  text-align: center;
}

.flow__item {
  background-color: #076fb3;
  color: #fff;
}

.flow__left {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 2em;
}

.flow__box {
  position: relative;
  width: 100%;
}

.flow__box::after {
  content: "";
  width: 28px;
  height: 28px;
  position: absolute;
  bottom: -1.5em;
  right: 0.5em;
  background-image: url(/images/service/icon_10.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.flow__text {
  padding-left: 0;
  margin-bottom: 0.5em;
}

.flow__detail {
  padding-left: 1.5em;
  font-size: 16px;
}

.flow__right::before {
  background-color: rgba(7, 111, 179, 0.3);
}

/* お問い合わせ先 */
.contact-area__right {
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.contact-area__list-item {
  font-size: clamp(16px, 2vw, 20px);
  margin-bottom: 0.5em;
}

/* 関連情報 */
.livinglife-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 50px;
}

.livinglife-card__item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  padding: 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.livinglife-card__img {
  width: 80%;
  margin: 0 auto;
}

.livinglife-card__text {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.livinglife-thumb {
  display: grid;
  grid-template-columns: 60% 40%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-bottom: 50px;
}

.livinglife-thumb__left {
  height: 200px;
}

.livinglife-thumb__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom center;
}

.livinglife-thumb__right {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.livinglife-thumb__title {
  color: #076fb3;
  font-size: clamp(18px, 2.4vw, 24px);
  font-weight: 500;
  margin-bottom: 0.5em;
}

.livinglife-link {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.livinglife-link__item {
  display: block;
  background-color: #fff;
  border: 1px solid #076fb3;
  padding: 0.5em;
  font-size: clamp(16px, 2.4vw, 24px);
  text-align: center;
  color: #076fb3;
  font-weight: 500;
}

/* 768px以下 */
@media screen and (max-width: 768px) {
  .product-gas {
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
  }
  .flow__left {
    align-items: center;
  }
  .flow__box {
    text-align: center;
  }

  .flow__box::after {
    width: 20px;
    height: 20px;
    right: 0;
    bottom: -1em;
  }

  .flow__detail {
    font-size: 14px;
    padding: 0;
    margin-bottom: 1em;
  }
  /* お問い合わせ先 */
  .contact-area__right {
    gap: 2em;
  }
  /* 関連情報 */
  .livinglife-card {
    grid-template-columns: repeat(2, 1fr);
  }
  .livinglife-thumb__right {
    padding: 2em 1em;
  }
  .livinglife-thumb {
    grid-template-columns: 1fr;
  }
}

/* 480px以下 */
@media screen and (max-width: 480px) {
  .livinglife-card {
    grid-template-columns: 1fr;
  }
}
