.office-residence-overview {
  margin: 6rem 0;

  @media (max-width: 768px) {
    margin: 2rem 0;
  }
}

.office-residence-wrap {
  padding: 1rem clamp(1rem, calc((40 / 1440) * 100vw), 2rem);

  @media (max-width: 450px) {
    padding: 1rem 0;
  }
}

.office-residence-map {
  width: 100%;
  height: 680px;
}

.office-residence-building {
  border: 0.0625rem solid #aeaeb2;
}

.office-residence-building__table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

.office-residence-building__table tr {
  border-bottom: 0.0625rem solid #aeaeb2;
}

.office-residence-building__table tr:last-child {
  border-bottom: 0;
}

.office-residence-building__label,
.office-residence-building__value {
  margin: 0;
  font-size: 1.1875rem;
  line-height: 2.5rem;
  letter-spacing: 0.059375rem;
}

.office-residence-building__label {
  width: 15.625rem;
  padding: 0.3125rem 1rem;
  color: #fff;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  background: linear-gradient(90deg, #837e7c 0%, #585453 100%);
}

.office-residence-building__value {
  padding: 0.3125rem 2rem;
  color: #231815;
  font-weight: 400;
  vertical-align: middle;
  background-color: #fff;
}

@media (max-width: 768px) {
  .office-residence-building__label,
  .office-residence-building__value {
    font-size: 0.9375rem;
    line-height: 1.75rem;
    letter-spacing: 0.046875rem;
  }

  .office-residence-building__label {
    width: 8.75rem;
    padding: 0.25rem 0.75rem;
  }

  .office-residence-building__value {
    padding: 0.25rem 0.75rem;
  }
}
