.section-glaph {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
  padding: 12rem 0 2rem;

  @media (max-width: 768px) {
    padding: 6rem 0 6rem;
  }
}

.riskconsulting-grid-wrap {
  padding: 1rem clamp(1rem, calc((40 / 1440) * 100vw), 2rem);
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  @media (max-width: 768px) {
    padding: 1rem 4rem;
  }

  @media (max-width: 450px) {
    padding: 1rem;
  }
}

.riskconsulting-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 1.25rem;
  }
}

.riskconsulting-grid__item {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--color-white);
  background-image: linear-gradient(
    90deg,
    rgba(107, 164, 41, 1),
    rgba(83, 128, 32, 1)
  );
  border-radius: 9999px;
  aspect-ratio: 1;
  transition: transform 0.2s;
  border: 1rem solid #f0f6ea;

  @media (max-width: 450px) {
    font-size: 1rem;
  }
}

.riskconsulting-grid__item img {
  width: 2rem;
  height: auto;
}

.riskconsulting-grid__item:hover {
  transform: scale(1.05);
}
